.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }
  
  .video-feed {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  
  .capture-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2EB1EE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .capture-button:hover {
    background-color: #3e678e;
  }
  